{# Umami analytics — Umami site UUID for fdw.debruyn.dev #}
<script defer
  src="/t.js"
  data-website-id="4dcf1bea-f51e-4d5c-9ae6-d8dc03e52655"
  data-host-url="https://umami.debruyn.dev"
  data-do-not-track="true">
</script>
<script type="text/javascript">
  (() => {
    const name = 'outbound-link-click';
    document.querySelectorAll('a').forEach(a => {
      if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
        a.setAttribute('data-umami-event', name);
        a.setAttribute('data-umami-event-url', a.href);
      }
    });
  })();
</script>
